@charset "UTF8";
body {
    background-color: navajowhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: burlywood;
    background-color: honeydew;
}
h2 {
    color: indigo;
}
p {
    text-align: justify;
}